
/*
 *
 * Desktop Devices
 *
 */


 @media only screen and (min-width: 961px) {



	/*
	 *
	 *
	 * Landing Page
	 *
	 */


	 div#mainLandingContent {
	 	display: flex;
	 	min-width: 100%;
	 	min-height: 50vh;
	 	align-items: center;
	 	justify-content: center;
	 }
	 div#mainLandingContent > h1 {
	 	font-family: 'Ribeye Marrow', sans-serif;
	 	padding-top: 180px;
	 	color: #f0ffff;	
	 	font-size: 70px;
	 }

	 div#landingPageFooter {
	 	width: 60%;
	 	min-height: 30vh;
	 	margin: 0 auto;
	 	position: relative;
	 	color: #f0ffff;
	 }
	 div#landingPageFooter > h3 {
	 	font-size: 25px;
	 	text-align: center;
	 	padding-bottom: 15px;
	 }
	 div#landingPageFooter > a {
	 	background: transparent;
	 	position: absolute;
	 	right: 15px;
	 	bottom: 20px;
	 	border: 1px solid #20bf6b !important;
	 	color: #20bf6b;
	 }

	 div#landingPageFooter > a:hover {
	 	color: #f0ffff !important;
	 	font-weight: 700 !important;
	 	letter-spacing: 3px;
	 	background: none;
	 	-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	 	-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	 	transition: all 0.3s ease 0s;
	 }

	 div#landingBanner {
	 	background-color: #454F59;
	 	opacity: 0.8;
	 }

	 p#content {
	 	font-style: italic;
	 	color: #f0ffff;
	 	font-size: 0.9rem;
	 	padding-bottom: 15px;
	 	padding: 0 15px 0 15px;
	 	text-align: center;
	 }


	 /* Rules for Home Page */

	 /* Overview Section */


	 div.main-overview {
	 	padding-top: 30px;
	 	width: 100%;
	 	margin-left: 30px;
	 }
	 div.overview-header {
	 	padding-bottom: 15px;
	 }
	 div.main-overview > p {
	 	text-align: justify;
	 }

	 div.main-overview > div.overview-header > i {
	 	font-size: 50px;
	 }

	 div.main-overview > div.overview-header > span {
	 	font-family: 'Ribeye Marrow', sans-serif;
	 	font-size: 30px;
	 	margin-left: 45px;
	 }

	 /* Main Content Section */

	        /* Explore */


	 header#mainHeader > h1 {
	 	text-align: right;

	 }

	 section#mainHeaderContent {
	 	padding: 15px 15px 0 15px;
	 	margin-bottom: 40px;
	 }
	 section#mainHeaderContent > h2 {
	 	font-weight: bolder;
	 	text-align: center;
	 }

	 section#mainHeaderContent > blockquote {
	 	text-align: center;
	 }

	 div#mainContent h4 {
	 	font-weight: 700;
	 	padding-bottom: 15px;
	 }

	 div#mainContent img {
	 	width: 90%;
	 	margin: 0 auto;
	 	display: block;
	 }

	 div.right-content, 
	 div.right-content-rating {
	 	padding-bottom: 15px;
	 }


	 /* Experience */


	 div#mainContentExperience {
	 	padding: 40px 15px 15px 100px;
	 }

	 div#mainContentExperience > p {
	 	font-size: 16px;
	 }
	 div#mainContentExperienceImage > img {
	 	width: 65%;
	 	display: block;
	 	margin: 0 auto;
	 	margin-top: 15px;

	 }

	 /* Discover */

	 div#mainHeaderDiscover > h2 {
	 	text-align: center;
	 	padding-top: 15px;
	 	padding-bottom: 15px;
	 	font-weight: 600;
	 	font-family: 'Ribeye Marrow', sans-serif;
	 }

	 div#mainHeaderDiscover > p {
	 	text-align: center;
	 	width: 80%;
	 	margin: 0 auto;
	 	padding: 15px 0 15px 0;
	 }

	 div#mainHeaderDiscover > a {
	 	display: block;
	 	text-align: center;
	 	padding-bottom: 10px;
	 }

	 div.mainContentDiscover > img {
	 	display: block;
	 	/*width: 60%;*/
	 	/*margin: 0 auto;*/
	 }
	 div.mainContentDiscover > h5 {
	 	font-weight: 600;
	 	text-align: center;
	 	padding: 15px 0;
	 }
	 div.mainContentDiscover > p {
	 	text-align: center;
	 }

	 /* Subscribe */

	form#subscribeForm {
		justify-content: center;
	}

	#inputEmail {
		width: 420px;
	}
}
