/*
 *
 * CSS Reset
 *
 */

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/*
 *
 * General Rules
 *
 */


body {

	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}

.clear:after {
	content: "";
	display: block;
	clear: both;
}

          /* General Rules For Landing Page */


    main#mainLandingPage {
 	background-image: url(../img/landing-page/landing.jpg);
 	background-size: cover;
 	background-position: center;
 	min-height: 100vh;

 }

 div#mainLandingContent > h1 {
 	font-family: 'Ribeye Marrow', sans-serif;
 	/*padding-top: 160px;*/
 	color: #f0ffff;	
 	/*font-size: 70px;*/
 }

 div#landingPageFooter {
 	/*width: 60%;*/
 	min-height: 20vh;
 	/*margin: 0 auto;*/
 	position: relative;
    color: #f0ffff;
 }

 .navbar-light .navbar-brand,
 .navbar-light .navbar-nav .nav-link {
 	color: #fff;
 	font-size: 15px;
 	letter-spacing: 2px;
 	margin-right: 20px;
 }
 .navbar-light .navbar-brand:hover,
 .navbar-light .navbar-nav .nav-link:hover {
 	color: #28a745;
 }

 .navbar .navbar-expand-lg .navbar-light {
 	background-color: none;
 }

 .bg-light {
 	background-color: transparent !important;
 }

 .hero-header-container:before {
 	background: linear-gradient(to bottom, rgba(0,0,0,.3), rgba(0,0,0,.4));
 	content: "";
 	position: absolute;
 	top: 0;
 	right: 0;
 	bottom: 0;
 	left: 0;
 }

