/*
 *
 * CSS Reset
 *
 */

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/*
 *
 * General Rules
 *
 */


 body {

 	font-family: 'Open Sans', sans-serif;
 	font-size: 16px;
  color: #333;
  /*background-color: #F5F6FF;*/
 }

 .clear:after {
 	content: "";
 	display: block;
 	clear: both;
 }

 div#mainLandingContent > h1,
 header#mainHeader > h1 {

 	font-family: 'Ribeye Marrow', sans-serif;
 	color: #f0ffff;	
 }

          /* General Rules For Landing Page */


  main#mainLandingPage {
 	background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url(../img/landing-page/landing.jpg);
 	background-size: cover;
 	background-position: center;
 	min-height: 100vh;
 }

 main#mainLandingPage > h1 {
  text-shadow: 5px 25px 25px #222;
 }


 div#landingPageFooter {
 	min-height: 25vh;
 	position: relative;
    color: #f0ffff;
 }

 /*  Navigation */


 .navbar-toggler-icon {
   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(250,229,229)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler {

  border-color: transparent;
}



  #navigationBar {
    height: 15vh;
    position: fixed;
    width: 100%;
    z-index: 1;
  }

 .navigation-not-scrolled {
  background-color: transparent;
  transition: all 1s;
 }

 .navigation-bar-scrolled {
    background-color: #141515;
    opacity: 0.9;
    position: fixed;
    width: 100%;
    color: #fff; 
    transition: all 1s; 
    z-index: 2;
    line-height: 10vh;
 }


 #navigationBar .nav-link {
 	color: #fff;
  font-family: 'Ribeye Marrow', sans-serif;
 	font-size: 1.2em;
  font-weight: 15px;
 	letter-spacing: 2px;
 	margin-right: 20px;
  line-height: 10vh;
 }

 .navbar-brand {
  font-family: 'Ribeye Marrow', sans-serif;
  color: #fff;
  font-size: 1.2em;
 }

 .navbar-brand:hover {
    color: #28a745;
 }

  #navigationBar .nav-link:hover {
 	color: #28a745;
 }


/* .hero-header-container:before {
 	background: linear-gradient(to bottom, rgba(0,0,0,.3), rgba(0,0,0,.4));
 	content: "";
 	position: absolute;
 	top: 0;
 	right: 0;
 	bottom: 0;
 	left: 0;
 }*/

  /* General Rules for Home Page */

  /*Main Header*/

  main > h2,
  section > h2 {
  	font-family: 'Ribeye Marrow', sans-serif;
  }

  .wrapper {
  	background-image: url(../img/landing-page/landing.jpg);
  	background-size: cover;
  	background-position: center;
  	height: 80vh;
  }

  header#mainHeader {
  	width: 100%;
    min-height: 60vh;
    /*padding-top: 10vh;*/ 
    display: flex;
    align-items: center;
    justify-content: center;
  }
  header#mainHeader > h1 {
  	color: #F5F6FF;
  	text-shadow: 5px 2px 5px #000;

  }


  /* Main Content */

  div#mainContent img {
  	display: block;
  }

  .good {
  	color: green;
  }

  div#wrapperExperience {
   background-color: #f5f6ff;
  }

   div#mainContentExperience > h2 {
    text-align: center;
    padding-bottom: 15px;
    font-weight: 600;
    font-family: 'Ribeye Marrow', sans-serif;
   }

   /* Discover */

   div.mainContentDiscover {
    margin-top: 30px;
   }

   /* Subscribe */

   div#subscribeWrapper {
    background-color: #395556;
    color: #F5F6FF;
   }
   
   button#subscribeButton {
    background-color: transparent;
    border: 1px solid #f5f6ff;
   }


   /* Download */

   div#downloadHeader > h2 {
    font-weight: 600;
    color: #333;
   }

   div#downloadContent > i {
    font-size: 80px;
    padding: 15px;
    color: #141515;
   }

   /* Footer */

   div#footerWrapper {
    background-color: #141515;
    min-height: 18vh;
   }

   div#footerSocialLinks > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
   }
   div#footerSocialLinks > ul > li {
    display: inline;
    border-right: 1px solid #F5F6FF;
   }
   div#footerSocialLinks > ul > li > a:hover {
    color: #395556;
   }

   div#footerSocialLinks > ul > li:last-child {
    border-right: none;
   }

   div#footerSocialLinks > p {
    color: #F5F6FF;
   }

                           /* Rules for About Page */

    div#aboutContent {
      min-height: 30vh;
      padding: 15px;
      margin-top: 15px;
    }

   div#aboutContent > h2 {
    font-family: 'Ribeye Marrow', sans-serif;
    padding: 15px 0;

   }

   div#aboutCreatorContent > h2 {
    font-family: 'Ribeye Marrow', sans-serif;

   }

   div#aboutImageContainer > img {
    border-radius: 50%;
   }

   div#aboutCreator {
    padding-top: 15px;
   }
    div#aboutCreatorContent {
      padding-top: 25px;
      padding-left: 15px;
    }

   div#aboutCreator > img {
    border-radius: 50%;
   }

   div.contentWrapper {
    background-color: #F5F6FF;
    padding-bottom: 15px;
   }
   div#aboutCreatorContent > a {
    text-transform: uppercase;
    background-color: #395556;
    border: none;
    box-shadow: 5px 5px 2px #333;
    margin-top: 15px;
   }

                  /* Rules for Contact Page */

  div#contactHeader > h2 {
     font-family: 'Ribeye Marrow', sans-serif;
  }

  div#contactWrapper {
    background-color: transparent;
  }

  form#contactForm > div > textarea {
    /*max-width: 60px;*/
    max-height: 100px;
    min-height: 100px;
  }

  form#contactForm > button {
    background-color: #395556;
  }

}


