
/*
 *
 * Tablet Devices
 *
 */


 @media only screen and (min-width: 401px) and (max-width: 960px) {



	/*
	 *
	 *
	 * Landing Page
	 *
	 */


	 div#mainLandingContent {
	 	width: 100%;
	 	text-align: center;
	 	padding: 15px;
	 }
	 div#mainLandingContent > h1 {
	 	font-family: 'Ribeye Marrow', sans-serif;
	 	padding-top: 150px;
	 	color: #f0ffff;	
	 	font-size: 70px;
	 }

	 div#landingPageFooter {
	 	width: 60%;
	 	min-height: 25vh;
	 	margin: 0 auto;
	 	position: relative;
	 	color: #f0ffff;
	 }

	  div#landingPageFooter > h3 {
	  	font-size: 25px;
	  	text-align: center;
	  }
	  div#landingPageFooter > a {
	  	position: absolute;
	  	right: 15px;
	  	bottom: 20px;
	  	font-family: 'Ribeye Marrow', sans-serif;
	  	letter-spacing: 2px;
	  	border: 1px solid #20bf6b !important;
	  	color: #20bf6b;
	  	background: transparent;
	  }

	  p#content {
	  	font-style: italic;
	  	color: #f0ffff;
	  	font-size: 16px;
	  	padding-bottom: 15px;
	  	padding: 0 15px 0 15px;
	  	text-align: center;
	  }

	}