
/*
 *
 * Tablet Devices
 *
 */


 @media only screen and (min-width: 401px) and (max-width: 960px) {



	/*
	 *
	 *
	 * Landing Page
	 *
	 */


	 div#mainLandingContent {
	 	width: 100%;
	 	text-align: center;
	 	padding: 15px;
	 }
	 div#mainLandingContent > h1 {
	 	font-family: 'Ribeye Marrow', sans-serif;
	 	padding-top: 150px;
	 	color: #f0ffff;	
	 	font-size: 70px;
	 }

	 div#landingPageFooter {
	 	width: 60%;
	 	min-height: 25vh;
	 	margin: 0 auto;
	 	position: relative;
	 	color: #f0ffff;
	 }

	  div#landingPageFooter > h3 {
	  	font-size: 25px;
	  	text-align: center;
	  }
	  div#landingPageFooter > a {
	  	position: absolute;
	  	right: 15px;
	  	bottom: 20px;
	  	font-family: 'Ribeye Marrow', sans-serif;
	  	letter-spacing: 2px;
	  	border: 1px solid #20bf6b !important;
	  	color: #20bf6b;
	  	background: transparent;
	  }

	  p#content {
	  	font-style: italic;
	  	color: #f0ffff;
	  	font-size: 16px;
	  	padding-bottom: 15px;
	  	padding: 0 15px 0 15px;
	  	text-align: center;
	  }

	   /* Overview Section */


	 div.main-overview {
	 	padding-top: 30px;
	 	/*width: 100%;*/
	 	/*margin-left: 30px;*/
	 }
	 div.overview-header {
	 	padding-bottom: 15px;
	 }
	 div.main-overview > p {
	 	text-align: justify;
	 }

	 div.main-overview > div.overview-header > i {
	 	font-size: 40px;
	 }

	 div.main-overview > div.overview-header > span {
	 	font-family: 'Ribeye Marrow', sans-serif;
	 	font-size: 20px;
	 	margin-left: 20px;
	 }

	 /* Main Content Section */


	 header#mainHeader > h1 {
	 	text-align: center;

	 }

	 section#mainHeaderContent {
	 	padding: 15px 15px 0 15px;
	 	margin-bottom: 30px;
	 }
	 section#mainHeaderContent > h2 {
	 	font-weight: bolder;
	 	text-align: center;

	 }
	 section#mainHeaderContent > blockquote {
	 	text-align: center;
	 }

	 div#mainContent h4 {
	 	font-weight: 700;
	 	padding-bottom: 15px;
	 }

	 div#mainContent img {
	 	width: 90%;
	 	margin: 0 auto;
	 	display: block;
	 }

	 div.right-content, 
	 div.right-content-rating {
	 	padding-bottom: 15px;
	 }


}